__pycache__/
*.pyc
*.pyo
*.log
.venv/
.env
node_modules/
.git
.vscode/
.idea/
.DS_Store
dist/
build/
*.zip
*.tar.gz
*.pyd
.Python
venv/
*.egg-info/
login_failure.png
login_error.png
profiles.json
connections.json