/conexao-bot/src/utils/linkedin_credentials.json
/.idea/misc.xml

/conexao-bot/src/connections.json
/conexao-bot/src/profiles.json
/conexao-bot/src/utils/jessy
/conexao-bot/src/__pycache__/bot.cpython-312-pytest-8.4.0.pyc
/conexao-bot/src/config/__pycache__/try_login.cpython-312.pyc
